- title = "Fons"

doctype html
html
  
  head
    meta(charset="utf-8")
    title= title
    link(rel="stylesheet", href="css/background.css")
    
  body
    h1= title
    
    div.bg1 bg1
    div.bg2 bg2
    
    div.bg-img1: a(href="./img/1616959.jpg", target="_blank") bg-img1
    div.bg-img2: a(href="./img/1616959.jpg", target="_blank") bg-img2
    div.bg-img3: a(href="./img/1616959.jpg", target="_blank") bg-img3
    
    div.bg-img-size-cover: a(href="./img/1616959.jpg", target="_blank") bg-img-size-cover
    div.bg-img-size-contain: a(href="./img/1616959.jpg", target="_blank") bg-img-size-contain
    
    div.bg-img-rep-1: a(href="./img/Emotes-face-smile-icon.png", target="_blank") bg-img-rep-1
    div.bg-img-rep-x: a(href="./img/Emotes-face-smile-icon.png", target="_blank") bg-img-rep-x
    div.bg-img-rep-y: a(href="./img/Emotes-face-smile-icon.png", target="_blank") bg-img-rep-y

    div.bg-all bg-all
