- var title = "Konteksta selektors"
- var content = "Lorem ipsum dolor sit amet, inani tibique molestiae ad mel, pro soluta neglegentur at. Eos latine argumentum comprehensam ad, vix purto facilisis ne. Ex summo elitr corpora duo, vim wisi antiopam ad, ex nobis ocurreret pri. Mei debet partem convenire eu, in mel exerci prodesset, ex pro malorum fabulas quaerendum. Inani nostro labores mea te. Error erant prompta sea et, mea movet aliquando an, magna gubergren euripidis ne cum."

doctype html
html

	head
		meta(charset="utf-8")
		title= title
		link(rel="stylesheet", href="css/context_selector.css")
		
	body
		
		h1=title
		
		p= content
		
		p
			|Lorem ipsum&nbsp;
			span dolor
			|&nbsp; sit amet.
			|Lorem ipsum&nbsp;
			a(href="#")
				|link to&nbsp;
				span dolor
			|&nbsp; sit amet.
		
		p= content
		