doctype html
html
	head
		meta(charset="utf-8")
		title CSS
		style.
			div {
				width: 800px;
				height: 200px;
				border: solid 1px black;
			}
		link(rel="stylesheet", href="css/style.css")
	body
		div(style="font-style: italic")
			h1 Lorem ipsum
			p Lorém ípšum dolor sit amet, ea brůtě péténtium eoš, duó facér čivibus ať. Id quas ňovum mandamůs ést. Ne nobis saepe lobórtis qui, áeťérno tincidúňt an quo. Měl euišmód ullamcorpeř ěx, aď alia vidit debět méa. Has at dico consulátu hénďrérit, fúgit ňúsquam eum te. Lobortis péřicula has át, němóre labores ďěleniti no mel, aň ůsú facěťe gubergrén. Pri díctas quaěqůě définitióňes ex.