- var title = "Kaimiņselektori"

doctype html
html

	head
		meta(charset="utf-8")
		title= title
		link(rel="stylesheet", href="css/sibling_selector.css")
		
	body
		
		h1=title
		
		p
			|Lorem ipsum&nbsp;
			span dolor
			|&nbsp; sit amet.
			|Lorem ipsum&nbsp;
			a(href="#")
				|link to&nbsp;
				span dolor
			|&nbsp; sit amet.
			|Lorem ipsum&nbsp;
			span dolor
			|&nbsp; sit amet,&nbsp;
			span dolor
			|&nbsp; sit amet.
		
		p
			strong lorem ipsum&nbsp;
			em dolor&nbsp;
			|sit&nbsp;
			em amet.
		