doctype html
html
	head
		title Blokveida elementi
	body
		div
			h1 H1
			h2 H2
			h3 H3
			h4 H4
			h5 H5
			h6 H6

			p Lorem ipsum dolor sit amet, modus facer dicit ea sea, tritani impedit scaevola sit ne, eam aeque offendit id. Vix te aliquam officiis. Vis cu semper veritus evertitur, simul tollit oporteat no nec. Vim ad simul deserunt splendide, ut mei utroque sensibus erroribus. Ius cu vide impedit, option conceptam sed ei.
		
		div
			h1 H1
			h2 H2
			h3 H3
			h4 H4
			h5 H5
			h6 H6

			p Lorem ipsum dolor sit amet, modus facer dicit ea sea, tritani impedit scaevola sit ne, eam aeque offendit id. Vix te aliquam officiis. Vis cu semper veritus evertitur, simul tollit oporteat no nec. Vim ad simul deserunt splendide, ut mei utroque sensibus erroribus. Ius cu vide impedit, option conceptam sed ei.